<div id="page-preloader">

  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>

</div>

<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div id="menu" class="menu">
        <div class="menu-wrap">
          <div class="line"></div>
          <ul id="menu-content" class="menu-content">
            <li>
              <div class="inner">
                <div class="number-inner">
                  00
                </div>
                <div class="line-inner"></div>
                <a routerLink="/">Главная</a>

              </div>
            </li>
            <li>
              <div class="inner">
                <div class="number-inner">
                  01
                </div>
                <div class="line-inner"></div>
                <a routerLink="Portfolio">Портфолио</a>
              </div>
            </li>
            <li>
              <div class="inner">
                <div class="number-inner">
                  02
                </div>
                <div class="line-inner"></div>
                <a routerLink="Services">Услуги и цены</a>
              </div>
            </li>
            <li>
              <div class="inner">
                <div class="number-inner">
                  03
                </div>
                <div class="line-inner"></div>
                <a routerLink="Contact">Контакты</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="left">
          <a id="menu-btn" class="ajaxy" href="#">
            <span id="bar-1"></span>
            <span id="bar-2"></span>
            <span id="bar-3"></span>
            <p>Menu</p>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="middle">
          <a routerLink="/">
            <img src="img/logo.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right">

        </div>
      </div>
    </div>
  </div>
</header>
