<footer class="footer">
  <div class="container">
    <div class="row">
      <ul>
        <li><a routerLink="/"><img class="logo_" src="img/logo-footer.png" alt="logo_footer"></a></li>
        <li><a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/">Главная</a></li>
        <li><a routerLinkActive="active" routerLink="Portfolio">Портфолио</a></li>
        <li><a routerLinkActive="active" routerLink="Services">Услуги и цены</a></li>
        <li><a routerLinkActive="active" routerLink="Contact">Контакты</a></li>
      </ul>
    </div>
  </div>
</footer>
