<div class="our-advantages">
  <div class="container">
    <div class="row">

        <h2>Наши Преимущества</h2>
        <img class="logo_" src="img/logo-black.png" alt="">

        <div class="col-md-4">
          <div class="item-block">
            <div class="img-block">
              <img src="img/icon/pig.png" alt="">
            </div>
            <h3>Доступные цены</h3>
            <p>LoremIpsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-block">
            <div class="img-block">
              <img src="img/icon/handUp.png" alt="">
            </div>
            <h3>качественная работа</h3>
            <p>LoremIpsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-block">
            <div class="img-block">
              <img src="img/icon/timer.png" alt="">
            </div>
            <h3>Быстрая разработка</h3>
            <p>LoremIpsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
          </div>
        </div>



    </div>
  </div>
</div>
