<!--<script type="text/javascript" src="js/contactForm.js"></script>-->

<form id="form">

  <input type="text" name="name" class="form-control" placeholder="Имя">

  <input type="text" name="email" id="edit-email" class="form-control" placeholder="Email">

  <input type="text" name="number" id="edit-number" class="form-control" placeholder="Телефон">

  <textarea name="message" class="form-control" placeholder="Комментарий"></textarea>

  <button id="form_confirm" class="btn-send-message">ОСТАВИТЬ ЗАЯВКУ</button>

  <div id="ansver_server"></div>
</form>
